<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header"><strong>My Hobbies</strong></h2>
    </div>
    <section id="ScreenShot">
     <div class="container" ng-repeat="hobby in vm.hobbies">
      <div class="row text-center heading" >
       <div class="wow animated zoomInDown heading-text">
        <h4 ng-bind="hobby.name"></h4>
      </div>
    </div>
    <div class="main_content" ng-repeat="picture in hobby.pictures">
      <div class="col-lg-3 col-sm-3 portfolio-item" > 
       <div class="card h-100">
         <img class="card-img-top" ng-src="{{picture.image}}" alt="">
         <div class="card-body">
           <div class="card-title">
             <p style="color : #2d3544; text-align: center" ng-bind ="picture.description"></p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>	
</section>
</div>