<div class="container">
		<div class="col-lg-12">
            <h2 class="page-header"><strong>My Apps</strong></h2>
        </div>
		<div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item" ng-repeat="game in vm.gameList" > 
          	<div class="card h-100">
           	 <img class="card-img-top" src="{{game.image}}" alt="">
            	<div class="card-body">
             	 <div class="card-title">
               	 <a href="{{game.link}}" target="_blank" ng-bind ="game.name"></a>
              	</div>
              	<p class="card-text" style="color : #2d3544" ng-bind="game.description"></p>
            	</div>
         	 </div>
        	</div>
      </div>
</div>