<footer><div class="container">
	<div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text"> 
                                        <p>Copyright &copy; 2018 Tiago Silva</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact"> 
                                        <p>Email:<span>tiago.silva.1996@hotmail.com</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li><a href="https://www.facebook.com/tiago.silva.3511041" target="_blank" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                        <li><a href="https://www.linkedin.com/in/tiagosilva1996" target="_blank" class="fa fa-linkedin-square" attr="linkedin icon"></a></li>
                                        <li><a href="https://github.com/chipicow" target="_blank" class="fa fa-github-square" attr="github icon"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div></div>
</footer>
