<div ng-controller="GamesCtrl as vm">
	<div class="container">
		<div class="col-lg-12">
            <h2 class="page-header">Let me Introduce myself</h2>
        </div>
		<div class="row">
			<div class="col-md-5 col-sm-6">
                <div class="about-info">
                    <img src="images/icon.jpg" class="img-circle" alt="Cinque Terre" style="width: 100px; height: 100px ; margin-left: 100px">
        			<p>Hey there! This is Tiago, a full-stack developer at <img src="images/glintt.jpg" ng-href="www.glintt.com" class="img-rounded" alt="Cinque Terre" style="width: 28px; height: 28px;"> who also loves to write code in his free time. Other than that, I love learning about new and interesting libraries and cycling.</p>
                </div>
            </div>
        <div class="col-md-3 col-sm-6">
            <div class="about-info skill-thumb">
				<strong>Writing Code</strong>
                <span class="pull-right">80%</span>
                <div class="progress">
                     <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
                <strong>Drinking Coffee</strong>
                <span class="pull-right">90%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                    </div>
                <strong>Learning new Skills</strong>
                <span class="pull-right">75%</span>
                    <div class="progress">
                         <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                    </div>
				<strong>Cycling</strong>
                    <span class="pull-right">90%</span>
                        <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                    </div>
                </div>
			</div>
        </div>
 	</div>
</div>

